@mixin gradient-background {
  background-color: rgba(180, 54, 180, 0.3);
  background:
    radial-gradient(closest-side, rgba(235, 105, 78, 1), rgba(235, 105, 78, 0)),
    radial-gradient(closest-side, rgba(243, 11, 164, 1), rgba(243, 11, 164, 0)),
    radial-gradient(
      closest-side,
      rgba(254, 234, 131, 1),
      rgba(254, 234, 131, 0)
    ),
    radial-gradient(
      closest-side,
      rgb(170, 142, 254, 1),
      rgba(170, 142, 245, 0)
    ),
    radial-gradient(closest-side, rgb(248, 131, 124, 1), rgba(248, 192, 147, 0));
  background-size:
    130vmax 130vmax,
    80vmax 80vmax,
    90vmax 90vmax,
    110vmax 110vmax,
    90vmax 90vmax;
  background-position:
    -80vmax -80vmax,
    60vmax -30vmax,
    10vmax 10vmax,
    -30vmax -10vmax,
    50vmax 50vmax;
  background-repeat: no-repeat;
  animation: move 12s linear infinite;
}

@keyframes move {
  0%,
  100% {
    background-size:
      130vmax 130vmax,
      80vmax 80vmax,
      80vmax 90vmax,
      110vmax 110vmax,
      90vmax 90vmax;
    background-position:
      -80vmax -80vmax,
      60vmax -30vmax,
      10vmax 10vmax,
      -30vmax -10vmax,
      50vmax 50vmax;
  }

  25% {
    background-size:
      40vmax 40vmax,
      110vmax 110vmax,
      20vmax 20vmax,
      30vmax 30vmax,
      110vmax 110vmax;
    background-position:
      -20vmax -20vmax,
      90vmax 90vmax,
      50vmax 50vmax,
      50vmax 30vmax,
      10vmax 30vmax;
  }
  50% {
    background-size:
      10vmax 10vmax,
      110vmax 110vmax,
      60vmax 70vmax,
      90vmax 90vmax,
      70vmax 70vmax;
    background-position:
      -80vmax -80vmax,
      60vmax -30vmax,
      10vmax 10vmax,
      -30vmax -10vmax,
      50vmax 50vmax;
  }

  75% {
    background-size:
      10vmax 10vmax,
      20vmax 20vmax,
      30vmax 30vmax,
      -90vmax -90vmax,
      50vmax 50vmax;
    background-position:
      -10vmax -50vmax,
      110vmax 110vmax,
      30vmax 40vmax,
      130vmax 10vmax,
      30vmax 30vmax;
  }
}
