:root {
  --text-color: #545454;
  --background-color: #f5f5f5;
  --liquid-border-shadow:
    0 0 10px 2px rgba(255, 255, 255, 0.8),
    3px 3px 5px 0 rgba(136, 136, 136, 0.5),
    1px 1px 3px 0 rgba(255, 255, 255, 0.6);
  --h1-size: clamp(2.4rem, 3.6vw, 4rem);
  --h1-span-size: clamp(1.6rem, 2.4vw, 3rem);
  --h2-size: clamp(1.2rem, 2.8vw, 3.2rem);
  --h2-span-size: clamp(1.4rem, 2.2vw, 2.6rem);
  --h3-size: clamp(1.2rem, 1.8vw, 2.2rem);
  --p-size: clamp(0.8rem, 1.2vw, 1.6rem);
  --p-smaill-size: clamp(0.6rem, 1vw, 1.2rem);
  --card-h2-size: clamp(1.6rem, 1.6vw, 2.2rem);
  --card-p-size: clamp(0.9rem, 1.3vw, 1.6rem);
  --card-a-size: clamp(0.6rem, 1vw, 1.2rem);
  --nav-a-size: clamp(0.8rem, 1vw, 1rem);
  --card-p-size-mobile: clamp(0.7rem, 1vw, 1rem);
  --card-a-size-mobile: clamp(0.5rem, 0.8vw, 1rem);
  --nav-a-size-mobile: clamp(0.6rem, 0.8vw, 1rem);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Geist", "Afacad", "Inter", sans-serif;
}

body {
  color: var(--text-color);
  background-color: var(--background-color);
  font-size: calc(1em + 0.5vw);
  ul,
  ol {
    list-style: none;
  }
  a {
    text-decoration: none;
    color: var(--text-color);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(150px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn-slightly {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn-right {
  0% {
    opacity: 0;
    transform: translateX(150px);
  }
  50% {
    opacity: 1;
    transform: translateX(25px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes fadeIn-right-ycenter {
  0% {
    opacity: 0;
    transform: translate(150px, -50%);
  }
  50% {
    opacity: 1;
    transform: translate(1px, -50%);
  }
  100% {
    opacity: 1;
    transform: translate(0, -50%);
  }
}

@keyframes fadeIn-left {
  0% {
    opacity: 0;
    transform: translateX(-150px);
  }
  50% {
    opacity: 1;
    transform: translateX(-25px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes fadeIn-opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn-opacity-scroll {
  0% {
    opacity: 0;
    scale: 1.45;
  }

  50% {
    scale: 1;
    opacity: 1.1;
  }

  100% {
    opacity: 1;
    scale: 1;
  }
}

@keyframes fadeIn-opacity-scroll-slow {
  0% {
    opacity: 0;
    scale: 1.45;
  }

  25% {
    scale: 1.1;
    opacity: 0.8;
  }

  50% {
    scale: 1;
    opacity: 1;
  }
  75% {
    scale: 1;
    opacity: 1;
  }

  100% {
    opacity: 1;
    scale: 1;
  }
}
